.cardstyling{
    background: #121e25;
    padding-left: 300px;
    padding-right: 300px;
    border: none;
}

@media (max-width: 1317px) {
    .cardstyling{
        background: #121e25;
        padding-left: 200px;
        padding-right: 200px;
        border: none;
    }
}

@media (max-width: 1003px) {
    .cardstyling{
        background: #121e25;
        padding-left: 100px;
        padding-right: 100px;
        border: none;
    }
}

@media (max-width: 600px) {
    .cardstyling{
        background: #121e25;
        padding-left: 50px;
        padding-right: 50px;
        border: none;
    }
}

@media (max-width: 400px) {
    .cardstyling{
        background: #121e25;
        padding-left: 20px;
        padding-right: 20px;
        border: none;
    }
}
